.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.heading_div{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    float: none;
}
.heading_div2{
    font-size: 18px;
}
canvas{
    border: 4px white solid;
    border-radius: 20px !important;
    box-shadow: 1px 1px 18px rgb(82, 82, 82);
    margin-top: 100px;
}

.para_object_name{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}

.copy_right_footer{
    bottom: 0;
    position: fixed;
    background-color: rgb(104, 104, 104);
    color: white;
    line-height: 3;
    width: 100%;
    font-weight: bold;
}